.left-side{
  width: 30%;
  padding: 20px;
  background-color: rgb(240,240,240);
}
.main-side{
  width: 70%;
  padding: 20px;
  background-color: whitesmoke;
}

.element{
  background-color: rgb(240,240,240);
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 10px;
  margin-top: 10px;
}
.details{
  padding: 10px;
}
