.cv-container{
  display: flex;
}
.left-side{
  width: 30%;
  padding: 20px;
  background-color: rgb(240,240,240);
}
.main-side{
  width: 70%;
  padding: 20px;
  background-color: whitesmoke;
}

.element{
  background-color: rgb(240,240,240);
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px 2px lightgray;
  padding: 10px;
  margin-top: 10px;
}
.details{
  padding: 10px;
}
.blue-theme{
  width: 30px;
  height: 30px;
  background-color: rgb(51, 83, 132);
  border-radius: 100%;
  cursor: pointer;
}
.gray-theme{
  width: 30px;
  height: 30px;
  background-color: rgb(240,240,240);
  border-radius: 100%;
  cursor: pointer;
}
@media screen and (max-width: 700px){
  .cv-container{
    display: block;
  }
  .left-side{
    width: 100%;
  }
  .main-side{
    width: 100%;
  }
}
