<div class="d-flex">
  <div class="left-side">
    <app-infos-p></app-infos-p>
  </div>
  <div class="main-side">
    <button class="blue-theme" style="float: right" (click)="blueTheme()"></button>
    <button class="gray-theme" style="float: right" (click)="grayTheme()"></button>
    <div class="element">
      <div class="title"> Formations : </div>
      <div class="details" *ngFor="let formation of formations">
        <app-element [date]=formation.date [title]=formation.title [details]=formation.details></app-element>
      </div>
    </div>
    <div class="element">
      <div class="title">Expériences : </div>
      <br>
      <div class="sub-title">Stages :</div>
      <div class="details" *ngFor="let internship of internships">
        <app-element [date]=internship.date [title]=internship.title [details]=internship.details></app-element>
      </div>
      <div class="sub-title">Projets :</div>
      <div class="details" *ngFor="let project of projects">
        <app-element [date]=project.date [title]=project.title [details]=project.details></app-element>
      </div>
    </div>
    <div class="element">
      <div class="title">Compétences : </div>
      <div class="details" *ngFor="let skill of skills">
        <app-element [date]=skill.date [title]=skill.title [details]=skill.details></app-element>
      </div>
    </div>
  </div>
</div>

