/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family: Candara;
}
body{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.g-color{
  color: rgba(102, 153, 204,0.8);
}
.big-title{
  font-size: 30px;
  font-weight: bold;
}
.title{
  font-size: 20px;
  color: rgba(102, 153, 204,1);
  font-weight: bold;
}
.sub-title{
  font-size: 15px;
  color: rgba(102, 153, 204,0.9);
  font-weight: bold;
}
