<div>
  <div class="profile-img">
    <img src="assets/ennouinou.jpg" alt="Ennouinou's Image">
  </div>
  <p class="center">{{name}}</p>
  <p class="center">{{date}}</p>
  <div>
    <app-links></app-links>
  </div>
  <div>
    <p>Langues:</p>
    <p>Français, Anglais, Arabe : Très bon niveau à l'écrit comme à l'oral</p>
  </div>
  <div>
    <p>Expérience volontaire:</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur doloremque esse, eveniet ipsum molestiae non quasi quo temporibus. Aspernatur debitis fugiat laudantium minima perspiciatis, quam quas quibusdam reiciendis sequi?</p>
  </div>
  <div>
    <p>Loisir :</p>
    <p></p>
  </div>
</div>
