<div>
  <div class="profile-img">
    <img src="assets/ennouinou.jpg" alt="Ennouinou's Image">
  </div>
  <p class="center big-title">{{name}}</p>
  <p class="center title">{{date}}</p>
  <hr class="hr">
  <div>
    <p class="title">Contact :</p>
    <br>
    <app-links></app-links>
  </div>
  <hr class="hr">
  <div>
    <p class="title">Langues :</p>
    <br>
    <p class="link-value"> Français, Arabe : Très bon niveau à l'écrit comme à l'oral</p>
    <p class="link-value"> Anglais : bon niveau à l'écrit comme à l'oral</p>
  </div>
  <hr class="hr">
  <div>
    <p class="title">Centre d'intérêts :</p>
    <br>
    <div class="d-flex">
      <div class="w-25 sub-title" style="text-align: center">
        <i class="fa fa-futbol-o d-block"></i> <span class="d-block">FootBall</span>
      </div>
      <div class="w-25 sub-title" style="text-align: center">
        <i class="fa fa-music d-block"></i> <span class="d-block">News</span>
      </div>
      <div class="w-25 sub-title" style="text-align: center">
        <i class="fa fa-newspaper-o d-block"></i> <span class="d-block">Musique</span>
      </div>
      <div class="w-25 sub-title" style="text-align: center">
        <i class="fa fa-video-camera d-block"></i> <span class="d-block">Séries</span>
      </div>
    </div>
  </div>
</div>
