<div>
  <div class="profile-img">
    <img src="assets/ennouinou.jpg" alt="Ennouinou's Image">
  </div>
  <p class="center big-title">{{name}}</p>
  <p class="center title">{{date}}</p>
  <hr class="hr">
  <div>
    <p class="title">Contact :</p>
    <br>
    <app-links></app-links>
  </div>
  <hr class="hr">
  <div>
    <p class="title">Langues :</p>
    <br>
    <p class="link-value"> Français, Anglais, Arabe :  bon niveau à l'écrit comme à l'oral</p>
  </div>
  <hr class="hr">
  <div>
    <p class="title">Centre d'intérêts :</p>
    <p></p>
  </div>
</div>
